@model IEnumerable<MyForum.Models.Comment>

@{
    ViewBag.Title = "_Comments";
}
<div id="commentBody">
    <table class="table" id="comment">

        @foreach (var item in Model)
        {
            <tr class="col-sm-12">
                <th class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.UserName)
                </th>
                <td class="col-sm-9">
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td class="col-sm-1">
                        @Html.ActionLink("Delete", "DeleteComment", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
</div>

<style>
    #comment {
        margin-bottom: 5px;
        border: none;
        background-color: lightgray;
    }
</style>
