@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


@*//var RoleManager = new RoleManager<IdentityRole>
    (new RoleStore<IdentityRole>
        (context));
        //string[] roleNames = { "Admin", "Member" };
        //IdentityResult roleResult;
        //foreach (var roleName in roleNames)
        //{
        //    if (!RoleManager.RoleExists(roleName))
        //    {
        //        roleResult = RoleManager.Create(new IdentityRole(roleName));
        //    }
        //}

        //var UserManager = new UserManager<ApplicationUser>
            (new UserStore<ApplicationUser>
                (context));
                //UserManager.AddToRole("0581aa88-7f4b-4c45-bffd-7268fce5b8f2", "Admin");*@

            @*context.Sections.AddOrUpdate(new Models.Section { Id = "1", Title = "Match", Description = "Here you can talk about matches" });
            context.Sections.AddOrUpdate(new Models.Section { Id = "2", Title = "Players", Description = "Feel free to talk about your favorite player" });
            context.Sections.AddOrUpdate(new Models.Section { Id = "3", Title = "History", Description = "When became you a barca fan and why?" });

            context.Posts.AddOrUpdate(new Models.Post { Id = "1", SectionId = "1", Topic = "Last match was awesome", Content = "I watched last match and was glad that we won. What did you think?", Username = "Albion", Published=true });
            context.Posts.AddOrUpdate(new Models.Post { Id = "2", SectionId = "2", Topic = "Messi is my favorite player", Content = "Messi is better than CR. Who do you think is the best barcelona player of all time?", Username = "Michael", Published = true });
            context.Posts.AddOrUpdate(new Models.Post { Id = "3", SectionId = "3", Topic = "When I became barcafan", Content = "First time I saw barca playing I became a barcafan.", Username = "Hajdar", Published = true });

            context.Comments.AddOrUpdate(new Models.Comment { Id = "1", SectionId = "1", PostId = "1", Body = "Yaeh I also liked how they played but i think they could have done it better", UserName = "Bashar", Deleted=false });
            context.Comments.AddOrUpdate(new Models.Comment { Id = "2", SectionId = "2", PostId = "2", Body = "I think suarez is better", UserName = "Amir", Deleted=false });
            context.Comments.AddOrUpdate(new Models.Comment { Id = "3", SectionId = "3", PostId = "3", Body = "I agree, it was the same for me. Became a fan 10 years ago.", UserName = "Omar", Deleted = false });
            context.Comments.AddOrUpdate(new Models.Comment { Id = "4", SectionId = "1", PostId = "1", Body = "Hopefully it goes this well in the next game too.", UserName = "Tom", Deleted = false });*@
